:root {
    --bg-light: #0039a6;
    --bg-mid: #012951;
    --bg-dark: #002244;
}

body {
    overflow-y: hidden;
}

header {
    height: 7rem;
    background-color: var(--bg-dark);
}

section {
    background-image: url('https://youtu.be/0LMoAkkkPVc?si=OnplaKYZdXlifSNT');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#myElement{
    position: relative;
    color: white;
    top: 8px;
}

.h{
    position: relative;
    top: 50px;
}

.title {
    font-family: "Anton", system-ui;
    font-size: 3rem;
    font-weight: 100;
    font-style: normal;
    letter-spacing: 3px;
}

.content {
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.play-button {

    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 2rem;
    z-index: 1;
    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(100, 61, 136);
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 1em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
}

.play-button::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}

.play-button:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 2em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
    transform: scale(1.2);
}

.play-button:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
        0 0 2.5em 2em var(--glow-spread-color),
        inset 0 0 .5em .25em var(--glow-color);
}

.bg-vdo {
    object-fit: cover;
    z-index: 0;
    position: fixed;
    width: '50%';
    height: '100%';
}

@media screen and (max-width:600px) {

    .play-button {
        font-size: 2rem;
    }
}